.container {
    width: 100%; /* Occupy full width of the page */
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInContainer 1s ease forwards;
    overflow: auto; /* Allow container to scroll if content exceeds width */
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeInTitle 1s ease forwards;
}

table {
    width: max-content; /* Make table as wide as necessary to fit its content */
    border-collapse: collapse;
    margin-top: 20px;
    opacity: 0;
    animation: fadeInTable 1s ease forwards;
    border-radius: 10px;
    overflow-x: auto; /* Allow table to scroll horizontally if content exceeds width */
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
    transition: background-color 0.3s, box-shadow 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust maximum width for cells */
}

.btn-pdf, .delete-btn, .edit-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #016a4b;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, box-shadow 0.3s;
    opacity: 0;
    animation: fadeInButton 1s ease forwards;
}

.btn-pdf:hover, .delete-btn:hover, .edit-btn:hover {
    background-color: #45a049;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.delete-btn {
    margin-right: 5px;
}

/* Preserve animations */
@keyframes fadeInContainer {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInTitle {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInTable {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInButton {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
