/* styles.css */

/* Body and Container Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #032030;
    color: #fff;
}

.navbar {
    background-color: #004D74;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    animation: fadeInDown 0.5s ease-in-out;
}

@keyframes fadeInDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-right: 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.dashboard-card {
    background-color: #fff;
    color: #032030;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card-header {
    padding: 10px;
    display: flex;
    align-items: center;
}

.card-header i {
    font-size: 24px;
    margin-right: 10px;
}

.card-header h3 {
    margin: 0;
    font-size: 20px;
}

.card-body {
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

.footer {
    background-color: #004D74;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer {
    background-color: #004D74;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

