/* Navbar Styles */
.navbar {
    background-color: #004D74;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    animation: fadeInDown 0.5s ease-in-out;
}

@keyframes fadeInDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.nav-links li {
    margin-right: 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* Responsive Navbar Styles */
@media (max-width: 1200px) {
    .navbar h1 {
        font-size: 22px;
    }

    .nav-links li {
        margin-right: 8px;
    }

    .nav-links li a {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .nav-links li a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .nav-links li a {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar h1 {
        font-size: 16px;
        margin-bottom: 10px;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .nav-links li a {
        font-size: 12px;
    }
}
